*{
    font-family: sans-serif;
}
.Homepagecards{
    margin: auto;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
}
.Homepage_row_cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.homepage_card:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.homepage_img{
    height: 250px;
    object-fit: cover;
}
.studentDashboardImg{
    height: 300px;
    object-fit: cover;
}
.homepage_bold_text{
    font-weight: bold;
}

/* // --------------------  Admin Login --------------------// */
.admin_login_background{
    height: 100vh;
    width: 100vw;
    background-color: rgb(58, 168, 241);
    display: flex;
    justify-content: center;
    align-items: center;
}
.admin_login_container{
width: 30%;
padding: 10px 20px;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
background-color: white;
border-radius: 15px;
}
.admin_login_container>h2{
text-align: center;
font-weight: bold;
margin: 15px 0;
}

/* delete Icon css */
#AdminDeleteIcon{
    font-size: 18px;
   color: black;
     margin-left: 40px; 
 }
 #AdminDeleteIcon:hover{
    font-size: 22px;
   color: red;
     cursor: pointer;
 }
 #AdminEditIcon{
    font-size: 18px;
    color: black;
      margin-left: 40px; 
 }
 #AdminEditIcon:hover{
    font-size: 22px;
   color: blue;
     cursor: pointer;
 }
 .adminNavbar{
    margin-bottom: 30px;
 }

 /* // student details page css */

 .studentDetailsMainDiv{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 }
.studentDetailsLeftDiv{

width: 50%;
}
 .studentDetailsRightDiv{
    box-sizing: border-box;
    width: 30%;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
 }

 /* student register form css */
 .student_login_background{
    height: 100%;
    width: 100%;
    background-color: rgb(58, 168, 241);
    display: flex;
    justify-content: center;
    align-items: center;
}
.student_login_container{
width: 45%;
padding: 10px 20px;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
background-color: white;
border-radius: 15px;
}
.student_login_container>h2{
text-align: center;
font-weight: bold;
margin: 15px 0;
}

@media all and (max-width:500px){
    .admin_login_container{
    width: 80%;
    padding: 10px 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
    border-radius: 15px;
    }
    .admin_login_container>h2{
    text-align: center;
    font-weight: bold;
    margin: 15px 0;
    }
     
}